<div class="container-form">
  <div class="form">
    <%= simple_form_for(@posting) do |f| %>
            <%= f.input :name, placeholder: 'Name' %>
            <%= f.input :cuisine, placeholder: 'Cuisine' %>
            <%= f.input :price, placeholder: 'Price' %>
            <%= f.input :bio, placeholder: 'Bio' %>
            <%= f.input :photo %>
            <%= f.submit class: 'btn btn-gradient' %>
          <% end %>
  </div>
</div>
