<%=  render 'shared/navbar2' %>
<div class="container">
  <h1><%= @posting.name %></h1>
  <div class="image-grid">
    <% @posting.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class:"img" %>
    <% end %>
  </div>
  <div class="card-price">
    <div class="left">
      <div class="show-desc">
        <h2><%= @posting.cuisine %></h2>
        <p><%= @posting.bio %></p>
      </div>
      <hr class=line>
    </div>
    <div class="right">
      <%= render 'shared/pricecardposting' %>
    </div>
  </div>
  <%# <%= link_to "Show all postings", postings_path %>
  <% if current_user == @posting.user %>
  <button class="btn-show"><%= link_to "Delete", posting_path(@posting),method: :delete, data: {confirm: "Are you sure?"} %></button>
  <button class="btn-show"><%= link_to "Edit", edit_posting_path(@posting) %></button>
  <%end%>
</div>
