<div class="container">
  <h2><%= @postings.name %></h2>
  <div class="row">
    <div class="column">
      <img src="https://picsum.photos/200/300" alt="">
      <%# <img src="https://picsum.photos/200/300" alt=""> %>
    </div>
    <div class="column">
        <%# <img src="https://picsum.photos/200/300" alt=""> %>
    </div>
  </div>
  <%= render 'shared/pricecardposting' %>
  <h2><%= @postings.cuisine %></h2>
  <h2><%= @postings.bio %></h2>
  <%= link_to "Show all postings", postings_path %>
</div>
