<%= link_to posting_path(posting) do %>
  <section>
    <div class="cards">
      <div class="top"></div>
      <div class="bottom">
        <div class="card-infos">
            <div class="btn"><%= posting.cuisine %></div>
            <div class="cont-info">
            <h2><%= posting.name %>
            <p><%= posting.bio[0..60]%>...</p>
            </div>
            <h2 class="card-pricing">$<%= posting.price %></h2>
            <% if current_user == posting.user %>
  <p>Delete</p>
  <p>Edit%>
<% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>
