<%= link_to posting_path(posting) do %>
  <section>
    <div class="cards">
      <div class="top" style="background-image: url('<%= cl_image_path posting.photos[0]&.key, crop: :fill %>')"></div>
      <div class="bottom">
        <div class="card-infos">
            <div class="btn"><%= posting.cuisine %></div>
            <div class="cont-info">
            <h2><%= posting.name %>
            <p><%= posting.bio[0..60]%>...</p>
            </div>
            <h2 class="card-pricing">$<%= posting.price %></h2>
        </div>
      </div>
    </div>
  </section>
<% end %>
