<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div class="check-form">
      <h5 class="card-title">$<%= @postings.price %></h5>
      <p class="card-text">Reviews</p>
    </div>
    <form class="date-form">
      <label for="">Date</label>
      <input type="date">
    </form>
    <%# <%= simple_form_for(@postings) do |f|  %>
      <%# <%= f.input :date, placeholder: 'Please set a date' %> %>
    <%# <% end %> %> %>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        DINERS
      </button>
      <ul class="dropdown-menu">
        <li class="dropdown-item">1</li>
        <li class="dropdown-item">2</li>
        <li class="dropdown-item">3</li>
        <li class="dropdown-item">4</li>
        <li class="dropdown-item">5</li>
      </ul>
    </div>
    <a href="#" class="btn-reserve">Reserve</a>
    <div class="check-form">
      <ul style="list-style: none; padding-left: 0;">
        <li>$<%= @postings.price %></li>
        <li>Service fee</li>
        <li>Taxes</li>
      </ul>
      <ul style="list-style: none; padding-left: 0;">
        <li>$<%= @postings.price %></li>
        <li>$<%= 22 %></li>
        <li>$<%= 18 %></li>
      </ul>
    </div>
    <hr class=solid>
    <div class="check-form">
    <p><strong>Total</strong></p>
    <p>$<%= @postings.price + 22 + 18 %></p>
    </div>
  </div>
</div>
