<div class="banner" style="background-image: url(https://images.pexels.com/photos/357743/pexels-photo-357743.jpeg?auto=compress&cs=tinysrgb&w=1600)">
  <%= render 'shared/navbar' %>
  <div class="container">
    <h1>The perfect cook for</h1>
    <h1>the perfect meal</h1>
  </div>
</div>

<div class="container-index">
  <div class="index-display">
    <% @bookings.each do |booking| %>
      <%= link_to posting_path(id = booking.posting_id) do %>
      <div class="card-bookings">
        <div class="card-bookings-infos">
          <h2><%= Posting.find(id = booking.posting_id).name%></h2>
          <p><%= booking.occurs_on  %></p>
          <p><%= Posting.find(id = booking.posting_id).bio[0..100]%>...</p>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
